.task-info {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    padding: 1rem;
    margin-bottom: 5px;
}

.content {
    max-width: 100%;
    padding: 10px;
    margin: 10px;
}

.todo-header {
    border-top: 2px solid #91908f;
}

.progress-header {
    border-top: 2px solid orange;
}

.done-header {
    border-top: 2px solid rgb(1, 188, 38);
}

.search-input mat-form-field {
    width: 100%;
}

@media screen and (min-width: 650px) {
    .search-input mat-form-field {
        width: 60% !important;
    }
}

.task-info h4 {
    font-size: large;
    font-weight: 500;
    text-transform: capitalize;
}

.task-info .message {
    font-weight: 100;
    font-size: 13px;
    margin-top: 3px;
}