<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="javascript:void(0)">
                <!-- <button mat-mini-fab color="primary">
                    <mat-icon>assignment</mat-icon>
                </button> -->
                <div class="note-icon me-2">
                    <mat-icon>assignment</mat-icon>
                </div>
                Notes
            </a>
            <div class="d-flex" *ngIf="!sharedService.isUserLoggedIn">
                <!-- <a class="nav-link" href="#">Login</a>
                    <a class="nav-link" href="#">Sign Up</a> -->
                <a href="javascript:void(0)" routerLink="/login">
                    <button mat-stroked-button color="primary" class="me-2">Login</button>
                </a>
                <a href="javascript:void(0)" routerLink="/signup">
                    <button mat-stroked-button color="primary">Sign Up</button>
                </a>
            </div>
            <div class="d-flex" *ngIf="sharedService.isUserLoggedIn">
                <!-- <a class="nav-link" href="#">Login</a>
                    <a class="nav-link" href="#">Sign Up</a> -->

                <a class="" href="javascript:void(0)">
                    <button mat-mini-fab color="white" [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <div class="ps-2 pe-2 pb-2">
                            <h3 class="m-0 user-name text-capitalize text-black">
                                {{sharedService.userInfo.userName}}
                            </h3>
                            <h5 class="m-0 user-email">
                                {{sharedService.userInfo.email}}
                            </h5>
                        </div>
                        <hr class="m-0">
                        <a href="javascript:void(0)" routerLink="/login"
                            class="text-decoration-none text-black text-center">
                            <button mat-menu-item (click)="sharedService.logout()">
                                <mat-icon>power_settings_new</mat-icon>Logout
                            </button>
                        </a>
                    </mat-menu>
                </a>
                <!-- <a href="javascript:void(0)" routerLink="/login">
                    <button mat-stroked-button color="primary" class="me-2" (click)="sharedService.logout()">
                        <mat-icon>power_settings_new</mat-icon>Logout</button>
                </a> -->
            </div>
        </div>
    </nav>
</header>